<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <style>
        body {
            padding-top: 40px;
        }
    </style>

</head>
<body>
<div id="root" class="container">
    <div class="box">
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" @click="getPosts">Get All!</button>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="field">
            <label class="label">Post</label>
            <div class="control">
                <input class="input" type="text" placeholder="Title" v-model="postId">
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" @click="searchPost">Search!</button>
            </div>
        </div>
    </div>

    <div class="box">
        <article class="message is-dark" v-for="post of posts">
            <div class="message-header">
                <p>{{post.title}}</p>
            </div>
            <div class="message-body">
                {{post.body}}
            </div>
        </article>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.js"></script>
<script src="/get/main.js"></script>
</body>
</html>